* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 1em;
}

.container {
  padding-top: 0.5em;
}

.nav {
  background-color: aliceblue;
  text-decoration: none;
  border-radius: 3px;
  padding: 0.2em;
}

h1 {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  padding: 0 0 0.5em 0.5em;
}

#receta,
.lista,
table {
  padding-left: 0.7em;
}

fieldset {
  margin-left: 0.7em;
  padding: 0.5em 0 0.5em 0.5em;
}

img {
  width: 400px;
  height: 250px;
  margin-left: 0.8em;
}

.image_user {
  width: 250px;
}

p,
iframe {
  padding: 0.7em 0 0.7em 0.7em;
}

h2 {
  padding: 0 0 0.5em 0.5em;
}

footer {
  margin-top: 1em;
  background-color: #333;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 0.7em;
}
